<div id="tentang">
	
<h2>Ustaz Dr. Abdullah Yasin</h2>
<p>Dr. Abdullah Bin Yasin , dilahirkan pada 5hb Julai 1946 di Pulau Terong (Batam), Propinsi Kepulauan Riau, Indonesia. Beliau mula mendakwah di Unit Dakwah Islamic Counsellor Kedutaan Arab Saudi, Kuala Lumpur sejak 1980. Pada Jun 2006 beliau menjadi pensyarah di Institut Pengajian Islam Perlis sehingga Julai 2009. Setelah bersara dari Unit Dakwah, Kedutaan Arab Saudi pada 2009, Dr. Abdullah Yasin bergerak aktif sebagai pendakwah bebas yang berprofesional dari segi penyampaian dan penulisan di dalam dunia penulisan Islam. Beliau menjadi warganegara Malaysia sejak tahun 1996 dan menetap di Kuala Lumpur bersama isteri dan anak-anak.</p>

<h2>Ceramah</h2>
<p>Ceramah-ceramah di laman ini adalah sebahagian daripada sesi kelas ustaz di Kuala Lumpur. Laman ini tidak mengandungi ceramah-ceramah ustaz yang terbaru - seperti minggu lepas
atau minggu baru sudah, namun ceramah-ceramah di laman ini dimasukan mengikut siri (buku) pelajaran. Dengan cara ini para jemaah yang menonton dapat mengikuti dari mula sehingga habis 
pelajaran ustaz. Usah kuatir setelah kesemua siri-siri pelajaran yang lepas telah dimuat naik, ceramah-ceramah terbaru akan berada di laman ini. 
</p>

<h2>Video dan nota</h2>
<p>Setiap ceramah di laman ini mengandungi dua medium penyampaian - video dan nota (dipetik dari buku yang ditulis oleh ustaz). Kandungan video adalah berdasarkan nota dan ini dapat memudahkan para jemaah untuk merujuk pada ayat-ayat Al-Quran dan sunnah-sunnah yang diperkatakan dalam video. Jemaah yang mempunyai buku ustaz dapat membaca kehadapan dan melayari video ceramah (sewaktu senang) untuk mendapatkan maklumat tambahan, contoh, <em>reference</em> pada isu-isu semasa dan yang paling penting maksud sebenar isi kandungan buku tersebut. Mudah-mudahan dengan kaedah ini para jemaah dapat menyerap sepenuhnya pelajaran yang terkandung di dalam buku-buku tulisan ustaz.   
</p>

<h2>Terima Kasih</h2>
<p>Video, nota dan laman web ini telah dijayakan oleh individu-individu berikut bersama ustaz:
	<ul>
		<li><a href="mailto:sheikh.afifi@gmail.com">Afifi Mohd </a>- Jurukamera dan <em>post production</em>.</li>
		<li><a href="mailto:oniee_2000@yahoo.com ">Husny Othman </a>- <em>Designer</em> untuk laman ini.</li>
		<li><a href="mailto:mus@geligalabs.com">Muzaffar Ariff</a> - <em>Developer</em> dan 
			moderator laman ini.</li>
		<li><a href="mailto:alhikmah88@hotmail.com">Roslan Abd Jalil</a>- Penerbit buku di mana nota-nota untuk ceramah diperolehi.</li>
		
	</ul> 
</p>

<h2>Laman ini dan undang-undang</h2>
<p>Laman ini dibangunkan menggunakan <em>Ruby on Rails</em> dan boleh diperolehi secara <em>
	<%= link_to "open source", "https://www.github.com/stopar/video-abdyasin"%></em>.</p>
<p>Manakala kesemua video dan ceramah-ceramah di laman ini adalah hak milik sepenuhnya Dr. Abdullah Yasin. Para jemaah dibenarkan untuk mewar-warkan laman ini atau menyebarkan link ceramah kepada para jemaah lain. Jemaah <strong>tidak dibenarkan</strong> untuk mengumpul (video atau/dan nota) dan kemudian mengedar kompilasi ceramah-ceramah tersebut di dalam apa bentuk media (CD, DVD, thumbdrive, online, ebook dan lain-lain) untuk mengaut keuntungan. Jemaah juga dilarang mengedit video atau nota dan mengeposkan versi baru di mana-mana medium penyampaian melainkan telah mendapat kebenaran dari Dr. Abdullah Yasin.  
</p>
</div>
	