<div id="feedback">
	
<h2>Individu perkenaan</h2>
<p>Segala maklum balas boleh ditujukan kepada individu berikut secara email.</p>
<ul>
	<li><a href="mailto:sheikh.afifi@gmail.com">Afifi Mohd </a></li>
	<li><a href="mailto:mus@geligalabs.com">Muzaffar Ariff</a></li>
</ul>
</div>