<div id="main_index">
	
	<div class="hero-unit">
		<h1>Assalamualaikum para pengunjung</h1>
		<p>Selamat datang ke laman rasmi video ceramah-ceramah Ustaz Dr. Abdullah Yasin. Untuk 
			pengunjung yang belum biasa dengan cara penyampaian Dr. Abdullah Yasin, setiap ceramah
			adalah berdasarkan petikan daripada buku tulisan beliau atau nota yang ditulis khas untuk 
			ceramah tersebut. Laman ini memuatkan kedua-duanya sekali untuk kesenangan pengunjung. 
			Selamat melayari laman ini. 
		</p>
	</div>

	<div id="lectures_thumbnails" class="span9">
		<ul class = "thumbnails">
			<%= render @lectures %>
		</ul>
	</div>

	<%= render :partial => 'layouts/sidebar_promo' %>
		
</div>