<div id="moderator">
	
	<h1>Ingin membantu menjadi moderator?</h1>
	<p>Sekiranya anda berminat di dalam <em>open source</em> atau dunia perfileman, 
		atau mempunyai kepakaran di dalam bidang tersebut jangan segan untuk membantu kami. 
		Sejumlah besar proses menguruskan video-video dan laman ini telah dirangka untuk 
		mengambil masa yang singkat untuk seorang moderator. Kerja-kerja seperti
		 meng-<em>upload</em>kan video dan ceramah, memproses video ke pelbagai format dan 
		pengurusan server, telah permudahkan dan ada sistem telah dibina oleh <em>developer</em>.
	</p>
	
	<br />
	
	<p>Namun begitu terdapat kerja-kerja yang memerlukan masa dan tenaga kerja untuk
		 menyiapkannya. Diantaranya adalah:</p>
		
		<ul>
			<li>Merakam ceramah di lokasi.</li>
			<li>Mencari dan <em>copy-paste</em> ayat Quran ke laman ini. Kebanyakan
				tulisan nota ustaz mengandungi ayat-ayat Quran dari sumber gambar atau 
				tersalah <em>encoding</em>.</li>
			<li>Menunggu video-video diproses ke perlbagai format dan kemudian masa
				 meng-<em>upload</em>kan video-video tersebut.</li>
		</ul>
	<br />
	
	<p>Jika anda ada masa (dalam dua hingga tiga jam seminggu) atau mempunyai kuasa <em>CPU</em> 
		yang berlebihan dan berminat untuk menolong kami dengan menjadi moderator. Anda boleh 
		berhubung dengan <a href="mailto:mus@geligalabs.com">Muzaffar Ariff</a> untuk menjadi 
		moderator atau mengetahui lebih lanjut tentang pengurusan laman ini.</p>
</div>