<div id="video">
	<h1>Dua Kalimah Syahadat Kuliah 1</h1>
	
	<%= video_tag ["http://c324901.r1.stream.cf1.rackcdn.com/HDKS1.webm"], 
		:size => "640x368",
	 	:poster => "HDKS-1.jpg",
		:preload => "none" 
	%>
</div>