/* 
Will not be using Sprockets to load all the SCSS files. Better of using the import command 
'@import' as such to load individiual CSS files

Steps for loading custom variable CSS:
1. All initialize of styles - includes Bootstrap, custom variables - grid columns, width,background color,
   will be in the _base.scss file
2. Application.csss will contain all the custom CSS that is needed for a particular page. 

See the _base.scss for more
*/

@import "base";
@import "lectures";
@import "main";

/* Page specific styles 
*/
#layout {

	h1{	margin: 20px 0; }
	
	#videos{
		margin-top: 20px;
		border-bottom:1px dashed #999;
	}
	
	li.span3 h4{
		margin-top: 5px;
	}
}

#sidebar_promo{
	margin-top: 30px;
	width: 240px;	
	
	.promo_donation{
		padding: 13px;
		color: #fff;
		background-color: #3A3939;
		
		h1{
			text-transform: uppercase;
			font-size: 30px;
			letter-spacing: -1px;
			text-rendering: optimizelegibility;
		}
		
		a.btn{
			margin-top: 10px;
		}
	}
	
	.promo_contribute{
		padding: 13px;
		background-color: #ECECEC;
		color:#3A3939;
		
		h1{
			text-transform: uppercase;
			font-size: 26px;
			letter-spacing: -1px;
			text-rendering: optimizelegibility;
		}
		
		a.btn{
			margin-top: 10px;
		}
	}
}

#footer{
	padding-bottom: 30px;
}
