// Place all the styles related to the Lectures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#moderator_actions{
	.upload_btn{
		margin-top: 20px;
	}
}

#lectures_thumbnails{
	margin-top: 30px;
}

#lecture_form{
	textarea#lecture_note{
		width: 700px;
	}
		
	select.date{
		width: 100px;
	}
}

#lecture{
	margin-top: 30px;
	
	#lecture_main {
		margin-left: 0;
		
		#sublime_video_wrapper_0{
			border:1px solid #404040;
			/*@include box-shadow(#545454 3px 3px 5px 3px);		*/
		}
		
		.fb-like{
			margin-top: 10px;
			padding-left: 20px;
		}
		
		h1.title{
			line-height: 5px;
		}
		
		#markdown_text {			
			h1{
				text-align: center;
			}			
		}
		
		.tip{
			margin-top: 20px;
			margin-bottom: 5px;		
		}
		
		.note{
			background-color: #fafafa;
			padding: 15px;		
		}
		
	}
	
	#sidebar_promo{
		margin-top: 0;
	}
		
}