// Place all the styles related to the Lectures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#moderator_actions{

	.upload_btn{
		margin-top: 20px;
	}

}

#lecture_form{
	textarea#lecture_note{
		width: 700px;
	}
		
	select.date{
		width: 100px;
	}
}

#lecture{
	
	margin-top: 30px;
	h1.title{
		line-height: 5px;
	}
	
	.tip{
		margin-top: 20px;		
	}
	
	.note{
		margin-top: 20px;
	}
}