// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main_index{
	.hero-unit{
		padding: 45px;
	}
	
	.span9{
		margin-left: 0;
	}
}

#tentang, #donation, #feedback, #moderator{
	margin-top: 40px;
}