<nav class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="http://www.abdyasin.com">
				Ceramah Ustaz Abd. Yasin
			</a>
			<ul class="nav">
				<li class="<%= "active" if @nav == "list" %>"><%= link_to 'Video Ceramah', root_path %></li>
				<li class="<%= "active" if @nav == "langgan"%>"><%= link_to 'Kelebihan melanggan', langgan_path %></li>
				<li><a href="http://www.abdyasin.com/category/blog">Blog Ustaz</a></li>
			</ul>
		</div>
	</div>
</nav>