<div id="sidebar_promo" class="span3">
	<div class="promo_donation">
		<h1>Kami memerlukan sumbangan anda</h1>
		<p>Sumbangan digunakan untuk menguruskan video-video ceramah dan laman ini.</p>
		<%= link_to "Ketahui caranya", donations_path, 
					:class => "btn btn-primary" %></p>
	</div>	
	
	<div class="promo_contribute">
		<h1>Cara-cara lain anda boleh membantu</h1>
		<p>Kami juga memerlukan pertolongan anda dari segi tenaga, masa dan kepakaran dalam 
			menguruskan laman ini.</p>
		<%= link_to "Berminat untuk membantu", moderator_path, 
					:class => "btn btn-primary" %></p>
	</div>
</div>